body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.margin-left-right{
    margin: 0 10px;
}

.btn-app{
    min-width: 91px;
}
.border_col {
    border: 2px double #ddd;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 12px;
}
.btn2-app {
    font-size: 14px;
    font-weight: 700;
}

.divider2 {
    background-image: url("../image/2.png");
    height: 7px;
}
.divider {
    background-position: center center;
    background-repeat: no-repeat;
    clear: both;
    margin: 5px 0;
    overflow: hidden;
}
.cauhoi-wrap {
    padding: 10px !important;
}

.cauhoi {
    color: #103b5c;
    display: block;
    font-size: 1.333em;
    font-weight: 700;
    margin: 5px 0;
    overflow: hidden;
}
.dapan {
    color: #103b5c;
    display: block;
    font-size: 20px;
    font-weight: 400;
}

/* Index */
.info-box {
    min-height: 110px;
}
.info-box-icon{
    background: none;
    line-height: 84px;
}
.info-box-icon img {
    padding: 2px;
    height: 107px;
    width: 120px;
}
.info-box-content {
    margin-left: 130px;
}

.nav-stacked>li {
    float: left;
    width: 50%;
}


/*  Trang trac nghiem */

#nopbai{
    text-align: center !important; 
    margin: 4% 44%;
}
#practiceScore{
    background: rgba(237, 243, 247, 0.8) none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 0 #ddd;
    display: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 5px;
    z-index: 300;
    position: absolute;
    right: 1%;
    top: 10%;
    width: 19%;
    font-family: Arial,Helvetica,sans-serif;
    color: #444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
}
.fixed{
    position: fixed!important;
    right: 2%!important;
    top: 22%!important;
    width: 12%!important;
}
.chanle:nth-child(2n) {
    background: #edf3f7 none repeat scroll 0 0;
}
.chanle {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 0 10px;
}
/*  end. trang trac nghiem*/